@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}

body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}

img, embed, object, video {
  max-width: 100%;
}

ul, li {
	font-size: 10pt;
	color: #333;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}


article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu {
	display: block;
}

.top_menu{
  position: absolute;
  left: 0px;
  top: 0px;

}

.maincontent {
  margin: auto;
  background-color: #f3f3f3;
  min-height: 100%;
  border: 1px solid #999;
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#footer {
  background-color: #444;
  color: #FFF;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: auto;
  background-color: rgb(59, 89, 152);
  display: grid;
  line-height: 1.4;
  align-items: center;
  justify-content: center;
}

nav h1 {
  margin: auto;
  display: inline-block;
  padding: 15px;
}

nav h1 a {
  color: #fff;
  font-weight: 200;
  letter-spacing: 8px;
  text-transform: uppercase;
}

#breadcrumb {
    list-style: none;
    background-color: #eee;
    margin: auto;
    padding: 16px 40px;
    list-style: none;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
    width: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 16px;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 50vh;
  width: 100%;
}
/* ====================== Restaurant Filtering ====================== */

.filter-options {
  background-color: rgb(59, 89, 152);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.filter-options h2 {
  color: white;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  margin: 6px 10px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 14pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: auto;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#restaurants-list li {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-content: center;
  width: 320px;
}

#restaurants-list li a {
  border: 1px solid #000;
  border-radius: 8px;
  background-color: rgb(203, 214, 228);
  text-align: center;
  font-size: 1em;
  cursor: pointer;
}

#restaurants-list li a .restaurant-img {
  padding: 6px;
  margin: auto;
  margin-top: 10px;
  max-width: 90%;
  min-height: 248px;
  border: 1px solid #000;
  border-radius: 15px;
  background: white;
}

#restaurants-list .info {
  margin: 15px;
  height: 100px;
}

#restaurants-list .info h3 {
  color: blue;
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1.2;
  text-transform: uppercase;
  border-bottom: 1px dotted;
}

#restaurants-list p {
  margin: 0;
  font-size: 12pt;
}

/* ====================== Restaurant Details ====================== */
#header {
  width: 100%;
  z-index: 1000;
}

#map-container2 {
  background: blue none repeat scroll 0 0;
  height: 87%;
  width: 100%;
}

#restaurant-img-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  max-width: 90%;
}

#map2 {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #f18200;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
}


#inside #restaurant-img {
  padding: 10px;
  margin: 10px auto;
  max-width: 90%;
  border: 1px solid #000;
  border-radius: 15px;
  display: block;
  background: white;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0;
  font-weight: 700;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}


#restaurant-container, #reviews-container {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #999;
  background: #f7dba8 none repeat scroll 0 0;
  padding: 15px;
}

@media screen and (min-width: 768px) {
  #restaurant-container, #reviews-container  {
      width : 46%;
   }
}

#reviews-container h3 {
  color: #f58500;
  font-size: 22pt;
  font-weight: 300;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
  font-size: 16px;
}

#restaurant-hours {
  border-spacing: 10px;
}

#restaurant-hours td {
  color: #666;
  font-size: 16px;
}

.rev_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

#reviews-list p
{
  text-align: justify;
}

.gold {
  color: gold;
  font-size: 23px;
}

.gray {
  color: gray;
  font-size: 20px;
}


.aria-label {
  display: none;
}